{% extends 'base.html' %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4 shadow-sm">
        <h3 class="mb-3">Registro - Postulante</h3>
        <form method="post" action="/register">
          <div class="mb-3">
            <label class="form-label">Nombre completo</label>
            <input name="nombre" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Usuario</label>
            <input name="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <button class="btn btn-success">Crear cuenta</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
