{% extends 'base.html' %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card p-4 shadow-sm">
        <h3 class="mb-3">Cambiar contraseña</h3>
        <form method="post" action="/reset/{{ token }}">
          <div class="mb-3">
            <label class="form-label">Nueva contraseña</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <button class="btn btn-success">Cambiar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
